.main-page{
    background-image: url('../../../assests/Header/Header-Image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: max-content;
    // height: ;
}