.boxes{
    background-color: black;
    color: white;
    height: 100%;
    // position: relative;
    .cross-btn{
        position: relative !important;
        // display: flex;
        text-align: end;
        // justify-content: flex-end;
        // align-items: flex-end;
        // width: 100%;
        padding: 0px 16px;
        top: 0px !important;

        svg{
        font-size: 48px !important;
        
    }
    }
    .sidebar-ul{
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
    margin-top: 16px;
    // margin-top: 75px;
    li{
        font-size: 22px;
        text-transform: uppercase;
        
    }
    hr{
        background-color: white !important;
        width: 100% !important;
        border: 1px solid white !important;            
    }
    }
   
}
.social-meida-sidebar{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin: 14px 8px;

    img{
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
}
.sideb-btn{
    top: 0px !important;
    display: flex !important;
    justify-content: flex-end !important;
    width: 0px !important;
}
// .css-9mgopn-MuiDivider-root{
//     background-color: white !important;
//     width: 100% !important;
//     border: 1px solid white !important;

// }